{{>header}}
        <div class="row">
        <div class="col-sm">
        <p>{{message}}</p>
        <p>Created by: {{createdBy}}</p>
        </div>
        <div class="col-sm">
                <img class="img-thumbnail" src="/images/HarjeevanTanda.png" alt="">
        </div>
        <div class="col-sm">
                
        </div>
        </div>
{{>footer}}