{{>header}}

  <!-- Content here -->
<h1>{{message}}</h1>
<form>
   <div class="form-group">
      <label for="location">Address here</label>
      <input type="text" name="location" class="form-control" id="location"  >
   </div>
   <button type="submit" class="btn btn-primary">Search</button>
   <div class="m-t-lg">
        <p></p>
        <p id="message_one"></p>
        <p id="message_two"></p>
   </div>
</form>

{{>footer}}